.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: auto;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 190px;
  border: 2px solid #fea837;
  border-radius: 20px;
}
